name: Publish
on:
  push:
    tags: ["v*.*.*"]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with: { python-version: "3.11" }
      - run: pip install poetry
      - run: poetry build
      - run: poetry publish --username __token__ --password ${{ secrets.PYPI_API_TOKEN }}
